<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="work.skymoyo.mock.core.resource.dao.MockRuleDao">

    <resultMap type="work.skymoyo.mock.core.resource.entity.MockRule" id="MockRuleMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="mockCode" column="mock_code" jdbcType="VARCHAR"/>
        <result property="ruleCode" column="rule_code" jdbcType="VARCHAR"/>
        <result property="ruleName" column="rule_name" jdbcType="VARCHAR"/>
        <result property="ruleType" column="rule_type" jdbcType="VARCHAR"/>
        <result property="ruleResult" column="rule_result" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="createUser" column="create_user" jdbcType="VARCHAR"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="updateUser" column="update_user" jdbcType="VARCHAR"/>
    </resultMap>


    <sql id="base_field">
         id, mock_code, rule_code, rule_name, rule_type
    </sql>


    <select id="queryByMockCode" resultMap="MockRuleMap">
        select
        <include refid="base_field"></include>
        from mock_rule
        where mock_code = #{mockCode}
    </select>


    <!--查询单个-->
    <select id="queryById" resultMap="MockRuleMap">
        select
          id, mock_code, rule_code, rule_name, rule_type, rule_result, create_time, create_user, update_time, update_user
        from mock_rule
        where id = #{id}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="MockRuleMap">
        select
          id, mock_code, rule_code, rule_name, rule_type, rule_result, create_time, create_user, update_time, update_user
        from mock_rule
        limit #{offset}, #{limit}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="MockRuleMap">
        select
        id, mock_code, rule_code, rule_name, rule_type, rule_result, create_time, create_user, update_time, update_user
        from mock_rule
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="mockCode != null and mockCode != ''">
                and mock_code = #{mockCode}
            </if>
            <if test="ruleCode != null and ruleCode != ''">
                and rule_code = #{ruleCode}
            </if>
            <if test="ruleName != null and ruleName != ''">
                and rule_name = #{ruleName}
            </if>
            <if test="ruleType != null">
                and rule_type = #{ruleType}
            </if>
            <if test="ruleResult != null and ruleResult != ''">
                and rule_result = #{ruleResult}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
            <if test="createUser != null and createUser != ''">
                and create_user = #{createUser}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime}
            </if>
            <if test="updateUser != null and updateUser != ''">
                and update_user = #{updateUser}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into mock_rule(mock_code, rule_code, rule_name, rule_type, rule_result, create_time, create_user, update_time, update_user)
        values (#{mockCode}, #{ruleCode}, #{ruleName}, #{ruleType}, #{ruleResult}, #{createTime}, #{createUser}, #{updateTime}, #{updateUser})
    </insert>

    <insert id="insertBatch" keyProperty="id" useGeneratedKeys="true">
        insert into mock_rule(mock_code, rule_code, rule_name, rule_type, rule_result, create_time, create_user,
        update_time, update_user)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.mockCode}, #{entity.ruleCode}, #{entity.ruleName}, #{entity.ruleType}, #{entity.ruleResult},
            #{entity.createTime}, #{entity.createUser}, #{entity.updateTime}, #{entity.updateUser})
        </foreach>
    </insert>

    <insert id="insertOrUpdateBatch" keyProperty="id" useGeneratedKeys="true">
        insert into mock_rule(mock_code, rule_code, rule_name, rule_type, rule_result, create_time, create_user,
        update_time, update_user)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.mockCode}, #{entity.ruleCode}, #{entity.ruleName}, #{entity.ruleType}, #{entity.ruleResult},
            #{entity.createTime}, #{entity.createUser}, #{entity.updateTime}, #{entity.updateUser})
        </foreach>
        on duplicate key update
        mock_code = values(mock_code) , rule_code = values(rule_code) , rule_name = values(rule_name) , rule_type =
        values(rule_type) , rule_result = values(rule_result) , create_time = values(create_time) , create_user =
        values(create_user) , update_time = values(update_time) , update_user = values(update_user)
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update mock_rule
        <set>
            <if test="mockCode != null and mockCode != ''">
                mock_code = #{mockCode},
            </if>
            <if test="ruleCode != null and ruleCode != ''">
                rule_code = #{ruleCode},
            </if>
            <if test="ruleName != null and ruleName != ''">
                rule_name = #{ruleName},
            </if>
            <if test="ruleType != null">
                rule_type = #{ruleType},
            </if>
            <if test="ruleResult != null and ruleResult != ''">
                rule_result = #{ruleResult},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="createUser != null and createUser != ''">
                create_user = #{createUser},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
            <if test="updateUser != null and updateUser != ''">
                update_user = #{updateUser},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from mock_rule where id = #{id}
    </delete>


    <select id="queryResultById" resultType="work.skymoyo.mock.common.model.MockDataBo">
       select rule_result as 'data',rule_class as 'dataClass'
        from mock_rule
        where id = #{id}
    </select>

</mapper>

