<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="work.skymoyo.mock.core.resource.dao.MockConditionDao">

    <resultMap type="work.skymoyo.mock.core.resource.entity.MockCondition" id="MockConditionMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="ruleCode" column="rule_code" jdbcType="VARCHAR"/>
        <result property="conditionType" column="condition_type" jdbcType="VARCHAR"/>
        <result property="conditionKey" column="condition_key" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="createUser" column="create_user" jdbcType="VARCHAR"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="updateUser" column="update_user" jdbcType="VARCHAR"/>
    </resultMap>


    <select id="queryByRuleCode" resultType="work.skymoyo.mock.core.resource.entity.MockCondition">
        select condition_type,condition_key from mock_condition where rule_code = #{ruleCode}
    </select>


    <!--查询单个-->
    <select id="queryById" resultType="java.lang.String">
        select
           result
        from mock_condition
        where `id` = #{id}
    </select>


</mapper>

